name = "sequencelib"
version = "0.1.0"
keywords = ["math"]
defaultTargets = ["Sequencelib", "Tests"]
lintDriver = "batteries/runLinter"

[leanOptions]
pp.unicode.fun = true # pretty-prints `fun a ↦ b`
autoImplicit = false
linter.missingDocs = false

[[require]]
name = "mathlib"
scope = "leanprover-community"
rev = "v4.20.1"

[[require]]
name = "checkdecls"
git = "https://github.com/PatrickMassot/checkdecls.git"
rev = "lean4.18.0"

[[require]]
name = "«doc-gen4»"
git = "https://github.com/leanprover/doc-gen4"
rev = "v4.20.1"

[[require]]
name = "Cli"
git = "https://github.com/leanprover/lean4-cli"
rev = "v4.20.0"

[[lean_exe]]
name = "oeisinfo"
root = "scripts.GetOEISInfo"
supportInterpreter = true

[[lean_exe]]
name = "postprocess"
root = "scripts.PostProcess"
supportInterpreter = true

[[lean_lib]]
name = "Tests"

[[lean_lib]]
name = "Sequencelib"