/-
Copyright (c) 2025 Walter Moreira, Joe Stubbs. All rights reserved.
Released under CC BY-SA 4.0 license as described in the file LICENSE.
Authors: {{ authors }}
-/
import Mathlib
import Sequencelib.Meta

open Synth

/-!
# {{ sequence_name }} sequence
{%- if sequence_description -%}
{{ sequence_description }}
{%- endif %}
-/

namespace Sequence

{% if sequence_description -%}
/-- 
{{ sequence_description }} 
-/
{%- endif -%}
{% if max_index -%}
@[OEIS := {{ sequence_name }}, offset := {{ offset }}, max_index := {{ max_index }}, derive := true]
{%- else %}
@[OEIS := {{ sequence_name }}, offset := {{ offset }}]
{%- endif %}
{{ source }}

end Sequence